/*About Us CSS*/

.our_services {
  margin-top: 120px;
}

.au_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    
   }

  .au_header {
    display: flex;
    text-align: center;
    width: 100%;
    max-width:83%;
    margin: 0 auto;
    flex-direction: column;

    p {
       font-weight: 500; 
       font-size: 16px;
       color: var(--au_headliner-text);
    }

    h2{
        font-weight: 800;
        font-size: 38px;
        margin-bottom: 30px;
    }
  }

  .au_txt_list {
    display: flex;
    width: 100%;
    max-width:83%;
    margin: 0 auto;
    column-gap: 30px;
  }

  .au_txt_l {
    width: 100%;
    max-width: 370px;
  }

  .au_txt_r {
    width: 100%;
    max-width: 570px;
  }

  .au_icon_list {
    
    display: flex;
    margin: 0 auto;
    
    width: 100%;  
    max-width:83%; 

    ul{
    padding-top: 60px;
    display: flex;
    width: 100%;  
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    }
    
    li {
        list-style: none;
        display: inline-block;
        justify-content: space-between;
    }
  }

  .au_txt_l_italic {
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    opacity: 90%; 
    font-weight: var(--regular);
  }

  .au_txt_l_nonitalic, .au_txt_r_nonitalic {
    font-size: 16px;
    line-height: 27px;
    opacity: 90%; 
    font-weight: var(--regular);
  }
  .au_txt_r_nonitalic:first-child {
    margin-bottom: 30px;
  }
  
  .au_icon_list li:hover {
 
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    
  }