/*Call to Action CSS*/

.call_to_action {
    background-color: var(--cta-bg-cl);
    padding-top:100px;
    padding-bottom: 100px;
    padding-left: 235px;
    padding-right: 235px;
  }

  .cta_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    

    .cta_headline{
        font-size: 16px;
        font-weight: var(--medium);
        color: var(--cta-txt-cl);
     }

   
    h2{
        font-size: 46px;
        font-weight: var(--bold);
        color: var(--cta-h2-cl);
        width: 100%;
        max-width: 970px;
        margin-bottom: 10px;
    }

    .cta_txt {
        font-size: 16px;
        font-weight: var(--regular);
        line-height: 27px;
        color: var(--cta-txt-cl);
        margin-bottom: 20px;
        max-width: 770px;
    }

    
  }

  .cta_button {
    padding: 18px 102px;
    background-color: var(--cta-button-cl);
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    a{
        color: var(--cta-txt-cl);
        font-size: 17px;
        line-height: auto;
        font-weight: var(--demi-bold);
        text-decoration: none;
        
        
    }
  }