/*Contact Us CSS*/
.contact_us {
  background-color: var(--cu-bg-color);
  color: var(--cu-txt-cl);
}

.cu_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cu_content form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cu_content h2 {
  margin-top: 140px;
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: var(--regular);
}
.cu_content label {
  font-size: 13px;
  font-weight: var(--medium);
}

.cu_full_name {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.cu_email {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.cu_message {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.cu_button button {
  padding: 19px 100px;
  background-color: #FF7F57;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #F4F6F7;
  font-size: 17px;
  font-weight: var(--demi-bold);
  margin-bottom: 140px;
  transition: background-color 0.3s ease-in-out;
}

input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  padding: 5px 0;
  padding-top: 15px;
  font-size: 16px;
  font-weight: var(--medium);
  color: rgba(255, 255, 255, 0.2);
}

textarea {
  width: 100%;
  height: 120px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  padding: 5px 0;
  padding-top: 15px;
  font-size: 16px;
  font-weight: var(--medium);
  color: rgba(255, 255, 255, 0.2);
  resize: none;
}

.cu_button button:hover {
  background-color: #D9480F;
  transform: scale(1.05);
}