/*Experience CSS*/
.experience {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--e-bg-cl);
  margin-bottom: 159px;
}

.e_content_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  column-gap: 120px;
}
.e_content_block h2 {
  font-size: 46px;
  font-weight: var(--regular);
  color: var(--text-color);
}
.e_content_block span {
  color: var(--e-span-cl);
  font-size: 60px;
  font-weight: 100;
}
.e_content_block p {
  font-weight: 400;
  font-size: 16px;
  color: var(--e-headliner-text);
}

.e_content {
  display: flex;
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}

.e_content_block:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}