/*Experience CSS*/

.experience {
    background-color: var(--e-bg-cl);
    padding: 60px 355px;
    margin-bottom: 99px;
  }

  .e_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .e_content_block {

    h2 {
        font-size: 46px;
        font-weight: 500;
        color: var(--text-color);
    }

    span {
        color: var(--gyb-button-cl);
    }

    p {
        font-weight: 400;
        font-size: 16px;
        color: var(--e-headliner-text);

    }
  }
