
   /*Footer CSS*/
   .footer {
    background-color: #13253A;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   .f_copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: var(--regular);
    color: #FFFFFF;
    opacity: 75%;

   }