/*Hero CSS*/
.gyb_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 178px;
}

.gyb_image img {
  width: 100%;
  max-width: 568px;
}

.gyb_text {
  width: 100%;
  max-width: 470px;
  height: 261px;
}

.gyb_start {
  color: var(--gyb-headliner-text);
  font-size: 16px;
  font-weight: 500;
}

.gyb_title {
  color: var(--gyb-title);
  font-weight: 900;
  font-size: 46px;
}

.gyb_explanation {
  color: var(--text-color);
  font-weight: 200;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;
}

.gyb_button {
  display: inline-block;
  padding: 19px 42px;
  background-color: var(--gyb-button-cl);
  color: var(--gyb-button-text-cl);
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.gyb_button:hover {
  background-color: #D9480F;
  transform: scale(1.05);
}