* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5px;
  flex-wrap: wrap;
}

.main_nav_list li {
  list-style: none;
  display: inline-block;
}

.main_nav_list a {
  text-decoration: none;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}