* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

:root {
  --text-color: #13253A;
  --cu-bg-color: #11364E;
  --gyb-headliner-text:#2557AB;
  --os-headliner-text: #2557AB;
  --au_headliner-text: #2557AB;
  --e-headliner-text:#2557AB;
  --cta-button-cl: #2557AB;
  --gyb-title: #13253A;
  --gyb-button-cl: #FF7F57;
  --cta-bg-cl:#FF7F57;
  --gyb-button-text-cl: #FFFFFF;
  --cta-txt-cl:#FFFFFF;
  --cu-txt-cl: #FFFFFF;
  --gyb-bg-cl: #F4F6F7;
  --cta-h2-cl: #F4F6F7;
  --e-bg-cl: #F4F6F7;
  --os-headliner-cl: #3B4D6C;
  --regular: 400;
  --medium: 500;
  --demi-bold: 600;
  --bold: 800;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 81.25%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5px;
  flex-wrap: wrap;
}

/*Header CSS*/
.header_section, .grow_your_business {
  background-color: var(--gyb-bg-cl);
}

.main_nav_list li {
  list-style: none;
  display: inline-block;
}

.main_nav_list a {
  text-decoration: none;
  line-height: 12px;
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
}

.main_nav_list {
  display: flex;
  column-gap: 50px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 154px;
}

.header_logo_img {
  width: 130px;
  height: 36px;
}

/*Hero CSS*/
.gyb_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 178px;
}

.gyb_image img {
  width: 100%;
  max-width: 568px;
}

.gyb_text {
  width: 100%;
  max-width: 470px;
  height: 261px;
}

.gyb_start {
  color: var(--gyb-headliner-text);
  font-size: 16px;
  font-weight: 500;
}

.gyb_title {
  color: var(--gyb-title);
  font-weight: 900;
  font-size: 46px;
}

.gyb_explanation {
  color: var(--text-color);
  font-weight: 200;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;
}

.gyb_button {
  display: inline-block;
  padding: 19px 42px;
  background-color: var(--gyb-button-cl);
  color: var(--gyb-button-text-cl);
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 3px;
}

/*Our Services CSS*/
.our_services {
  margin-bottom: 100px;
}

.os_headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.os_start, .os_title {
  text-align: center;
}

.os_title {
  font-weight: 200;
  font-size: 38px;
  color: var(--text-color);
  margin-bottom: 30px;
}

.os_start {
  font-weight: 400;
  font-size: 16px;
  color: var(--os-headliner-text);
}

.os_feature_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.os_content_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  width: 100%;
  text-align: center;
}
.os_content_block .p {
  align-self: center;
  color: var(--text-color);
  font-weight: 200;
  font-size: 16px;
  line-height: 27px;
}
.os_content_block img {
  width: 64px;
  height: auto;
  margin-bottom: 20px;
}
.os_content_block h3 {
  color: var(--os-headliner-cl);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 5px;
}

/*Experience CSS*/
.experience {
  background-color: var(--e-bg-cl);
  padding: 60px 355px;
  margin-bottom: 99px;
}

.e_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e_content_block h2 {
  font-size: 46px;
  font-weight: 500;
  color: var(--text-color);
}
.e_content_block span {
  color: var(--gyb-button-cl);
}
.e_content_block p {
  font-weight: 400;
  font-size: 16px;
  color: var(--e-headliner-text);
}

/*About Us CSS*/
.au_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.au_header p {
  font-weight: 500;
  font-size: 16px;
  color: var(--au_headliner-text);
}
.au_header h2 {
  font-weight: 800;
  font-size: 38px;
  margin-bottom: 30px;
}

.au_txt_list {
  display: flex;
}

.au_txt_l {
  width: 100%;
  max-width: 370px;
}

.au_txt_r {
  width: 100%;
  max-width: 570px;
}

.au_icon_list {
  justify-content: space-between;
  align-items: center;
}
.au_icon_list li {
  list-style: none;
  display: inline-block;
}

.au_txt_l_italic {
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.au_txt_l_nonitalic, .au_txt_r_nonitalic {
  font-size: 16px;
  line-height: 27px;
}

/*Relax CSS*/
.r_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 100px;
}

.r_content_l {
  width: 100%;
  max-width: 470px;
}
.r_content_l h2 {
  font-size: 38px;
  font-weight: var(--bold);
  width: 370px;
  margin-bottom: 20px;
}
.r_content_l p {
  font-size: 16px;
  line-height: 27px;
  font-weight: var(--regular);
  margin-bottom: 20px;
}
.r_content_l li {
  font-size: 15px;
  line-height: 27px;
  font-weight: var(--medium);
  list-style: none;
}
.r_content_l li:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(./assets/images/Path.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
  margin-right: 14px;
  vertical-align: middle;
}

.r_content_r img {
  width: 100%;
  max-width: 600px;
}

/*Call to Action CSS*/
.call_to_action {
  background-color: var(--cta-bg-cl);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 235px;
  padding-right: 235px;
}

.cta_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.cta_content .cta_headline {
  font-size: 16px;
  font-weight: var(--medium);
  color: var(--cta-txt-cl);
}
.cta_content h2 {
  font-size: 46px;
  font-weight: var(--bold);
  color: var(--cta-h2-cl);
  width: 100%;
  max-width: 970px;
  margin-bottom: 10px;
}
.cta_content .cta_txt {
  font-size: 16px;
  font-weight: var(--regular);
  color: var(--cta-txt-cl);
  margin-bottom: 20px;
  max-width: 770px;
}

.cta_button {
  padding: 18px 102px;
  background-color: var(--cta-button-cl);
  border-radius: 3px;
}
.cta_button a {
  color: var(--cta-txt-cl);
  font-size: 17px;
  font-weight: var(--demi-bold);
  text-decoration: none;
}

/*Contact Us CSS*/
.contact_us {
  background-color: var(--cu-bg-color);
  color: var(--cu-txt-cl);
}

.cu_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cu_content form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cu_content h2 {
  margin-top: 140px;
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: var(--regular);
}
.cu_content label {
  font-size: 13px;
  font-weight: var(--medium);
}

.cu_full_name {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.cu_email {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.cu_message {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.cu_button button {
  padding: 19px 100px;
  background-color: #FF7F57;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #F4F6F7;
  font-size: 17px;
  font-weight: var(--demi-bold);
  margin-bottom: 140px;
}

/*Footer CSS*/
.footer {
  background-color: #13253A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f_copy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: var(--regular);
  color: #FFFFFF;
  opacity: 75%;
}