* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

:root {
  --text-color: #13253A;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 81.25%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5px;
  flex-wrap: wrap;
}

.main_nav_list li {
  list-style: none;
  display: inline-block;
}

.main_nav_list a {
  text-decoration: none;
  line-height: 12px;
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
}

.main_nav_list {
  display: flex;
  column-gap: 50px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 53px;
}

.header_logo img {
  width: 500px;
  height: 36px;
}