* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

:root {
    --text-color: #13253A;
    --cu-bg-color: #11364E;
    --gyb-headliner-text:#2557AB;
    --os-headliner-text: #2557AB;
    --au_headliner-text: #2557AB;
    --e-headliner-text:#2557AB;
    --cta-button-cl: #2557AB;
    --gyb-title: #13253A;
    --gyb-button-cl: #FF7F57;
    --cta-bg-cl:#FF7F57;
    --e-span-cl:#FF7F57;
    --gyb-button-text-cl: #FFFFFF;
    --cta-txt-cl:#FFFFFF;
    --cu-txt-cl: #FFFFFF;

    --gyb-bg-cl: #F4F6F7;
    --cta-h2-cl: #F4F6F7;
    --e-bg-cl: #F4F6F7;
    --os-headliner-cl: #3B4D6C;

    
    --regular: 400;
    --medium: 500;
    --demi-bold: 600;
    --bold: 800;
}

html,
body {
    height: 100%;
    width: 100%;
 }

.container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
    flex-wrap: wrap;
}







  

  

  

  

  
