* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

:root {
    --text-color: #13253A;
    --gyb-headliner-text:#2557AB;
    --os-headliner-text: #2557AB;
    --gyb-title: #13253A;
    --gyb-button-cl: #FF7F57;
    --gyb-button-text-cl: #FFFFFF;
    --gyb-bg-cl: #F4F6F7;
    --os-headliner-cl: #3B4D6C;
}

html,
body {
    height: 100%;
    width: 100%;
 }

.container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
    flex-wrap: wrap;
}

/*Header CSS*/

.header_section, .grow_your_business {
    background-color: var(--gyb-bg-cl);
}

.main_nav_list li {
    list-style: none;
    display: inline-block;
    
}

.main_nav_list a{
    text-decoration: none;
    line-height: 12px;
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color);
    
}

.main_nav_list {
    display: flex;
    column-gap: 50px;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:53px;
    margin-bottom: 154px;
    
}

.header_logo_img {
    width: 130px;
    height: 36px;
}

/*Hero CSS*/

.gyb_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 178px;

}

.gyb_image img{
    width: 100%;
    max-width: 568px;
   
    
}

.gyb_text {
    width: 100%;
    max-width: 470px;
    height: 261px;
}

.gyb_start {
    color: var(--gyb-headliner-text);
    font-size: 16px;
    font-weight: 500;
}

.gyb_title {
    color: var(--gyb-title);
    font-weight: 900;
    font-size: 46px;
}

.gyb_explanation {
    color: var(--text-color);
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    
}

.gyb_button {
    padding: 19px 42px;
    background-color: var(--gyb-button-cl);
    color: var(--gyb-button-text-cl);
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 3px;
}

/*Our Services CSS*/

.our_services {
    margin-bottom: 100px;
}

.os_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .os_start, .os_title {
    text-align: center;
  }

  .os_title {
    font-weight: 200;
    font-size: 38px;
    color: var(--text-color);
    margin-bottom: 30px;
  }

  .os_start{
    font-weight: 400;
    font-size: 16px;
    color: var(--os-headliner-text);
  }

  .os_feature_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .os_content_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 370px;
    width: 100%;
    text-align: center;

    .p {
        align-self: center;
        color: var(--text-color);
        font-weight: 200;
        font-size: 16px;
        line-height: 27px;
    }

    img{
        width: 64px;
        height: auto;
        margin-bottom: 20px;
    }
    h3{
        color: var(--os-headliner-cl);
        font-weight: 900;
        font-size: 20px;
        margin-bottom: 5px;
    }

  }